<settings>
  <setting propertyKey="@Properties.Area1" title="@Strings.PARAM_AREA1">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area2" title="@Strings.PARAM_AREA2">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area3" title="@Strings.PARAM_AREA3">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area4" title="@Strings.PARAM_AREA4">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area5" title="@Strings.PARAM_AREA5">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area6" title="@Strings.PARAM_AREA6">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area7" title="@Strings.PARAM_AREA7">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area8" title="@Strings.PARAM_AREA8">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area9" title="@Strings.PARAM_AREA9">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
  <setting propertyKey="@Properties.Area10" title="@Strings.PARAM_AREA10">
    <settingConfig type="list">
      <listEntry value="0">@Strings.Field00</listEntry>      <!-- 00 Empty -->
      <listEntry value="1">@Strings.Field01</listEntry>      <!-- 01 Time -->
      <listEntry value="2">@Strings.Field02</listEntry>      <!-- 02 Timer -->
      <listEntry value="5">@Strings.Field05</listEntry>      <!-- 05 Distance -->
      <listEntry value="6">@Strings.Field06</listEntry>      <!-- 06 Current Heart Rate -->
      <listEntry value="9">@Strings.Field09</listEntry>      <!-- 09 Average Heart Rate -->
      <listEntry value="35">@Strings.Field35</listEntry>     <!-- 35 Heart Rate Zone -->
      <listEntry value="7">@Strings.Field07</listEntry>      <!-- 07 Current Pace -->
      <listEntry value="10">@Strings.Field10</listEntry>     <!-- 10 Average Pace -->
      <listEntry value="8">@Strings.Field08</listEntry>      <!-- 08 Current Speed -->
      <listEntry value="12">@Strings.Field12</listEntry>     <!-- 12 Average Speed -->
      <listEntry value="14">@Strings.Field14</listEntry>     <!-- 14 Current Cadence -->
      <listEntry value="33">@Strings.Field33</listEntry>     <!-- 33 Average Cadence -->
      <listEntry value="21">@Strings.Field21</listEntry>     <!-- 21 Current Power -->
      <listEntry value="22">@Strings.Field22</listEntry>     <!-- 22 Current Power -->
      <listEntry value="13">@Strings.Field13</listEntry>     <!-- 13 Calories -->
      <listEntry value="15">@Strings.Field15</listEntry>     <!-- 15 Altitude -->
      <listEntry value="16">@Strings.Field16</listEntry>     <!-- 16 Total Ascent -->
      <listEntry value="17">@Strings.Field17</listEntry>     <!-- 17 Total Descent -->
      <listEntry value="50">@Strings.Field50</listEntry>     <!-- 50 ETA 5K -->
      <listEntry value="51">@Strings.Field51</listEntry>     <!-- 51 ETA 10K -->
      <listEntry value="52">@Strings.Field52</listEntry>     <!-- 52 ETA Half Marathon (21.0975 km) -->
      <listEntry value="53">@Strings.Field53</listEntry>     <!-- 53 ETA Marathon (42.195 km) -->
      <listEntry value="54">@Strings.Field54</listEntry>     <!-- 54 ETA 50K -->
      <listEntry value="55">@Strings.Field55</listEntry>     <!-- 55 ETA 100K -->
      <listEntry value="56">@Strings.Field56</listEntry>     <!-- 56 Required Pace 5K -->
      <listEntry value="57">@Strings.Field57</listEntry>     <!-- 57 Required Pace 10K -->
      <listEntry value="58">@Strings.Field58</listEntry>     <!-- 58 Required Pace Half Marathon (21.0975 km) -->
      <listEntry value="59">@Strings.Field59</listEntry>     <!-- 59 Required Pace Marathon (42.195 km) -->
      <listEntry value="60">@Strings.Field60</listEntry>     <!-- 60 Required Pace 50K -->
      <listEntry value="61">@Strings.Field61</listEntry>     <!-- 61 Required Pace 100K -->
      <listEntry value="31">@Strings.Field31</listEntry>     <!-- 31 ETA Lap -->
      <listEntry value="32">@Strings.Field32</listEntry>     <!-- 32 Lap Count -->
      <listEntry value="30">@Strings.Field30</listEntry>     <!-- 30 Previous Lap Time -->
      <listEntry value="23">@Strings.Field23</listEntry>     <!-- 23 Previous Lap Distance -->
      <listEntry value="24">@Strings.Field24</listEntry>     <!-- 24 Previous Lap Pace -->
      <listEntry value="25">@Strings.Field25</listEntry>     <!-- 25 Lap Time -->
      <listEntry value="26">@Strings.Field26</listEntry>     <!-- 26 Lap Distance -->
      <listEntry value="27">@Strings.Field27</listEntry>     <!-- 27 Lap Pace -->
      <listEntry value="34">@Strings.Field34</listEntry>     <!-- 34 Time Ahead/Behind -->
      <listEntry value="28">@Strings.Field28</listEntry>     <!-- 28 Training Effect -->
      <listEntry value="18">@Strings.Field18</listEntry>     <!-- 18 Battery Icon -->
      <listEntry value="19">@Strings.Field19</listEntry>     <!-- 19 GPS Icon -->
      <listEntry value="20">@Strings.Field20</listEntry>     <!-- 20 GPS Icon and Battery Icon -->
    </settingConfig>
  </setting>
  
</settings>